.users-list {
    .card__list__users {
        padding-left:28px;
    }
    .card__user {
        width:100%;
    }
    .card__avatar {
        min-width: 32px;
        min-height: 32px;
        font-size: 10px;
    }
}