.member-card {
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    &__preloader-circle {
        border-radius:20px;
        background-color: #000;
    }
    &.user {
        padding: 14px 20px 14px 20px;
    }
    .card__name {
        font-size:15px;
    }
    .card__avatar {
        img {
            width:40px;
            height:40px;
        }
        font-size:13px;
    }

    .edit, .delete 
    {
        pointer-events: none;
        opacity: 0;
    }
    &:hover {
        background-color: #e3edf0;
        .edit, .delete 
        {
            pointer-events: unset;
            opacity: 1;
        }
    }
}